*.obj
*.bin
*.exe
*.dll
*.o
*.out
.vs/
/AspireApp.ApiService/bin/Debug/net10.0
/AspireApp.ApiService/obj
/AspireApp.AppHost/bin/Debug/net10.0
/AspireApp.AppHost/obj
/AspireApp.ServiceDefaults/bin/Debug/net10.0
/AspireApp.ServiceDefaults/obj/Debug/net10.0
/AspireApp.ServiceDefaults/obj
/AspireApp.Web/bin/Debug/net10.0
/AspireApp.Web/obj/Debug/net10.0
/AspireApp.Web/obj
/src/BuildingBlocks/Abstractions/bin/Debug/net10.0
/src/BuildingBlocks/Abstractions/obj/Debug/net10.0
/src/BuildingBlocks/Abstractions/obj
/src/BuildingBlocks/Caching/bin/Debug/net10.0
/src/BuildingBlocks/Caching/obj/Debug/net10.0
/src/BuildingBlocks/Caching/obj
/src/BuildingBlocks/Core/bin/Debug/net10.0
/src/BuildingBlocks/Core/obj/Debug/net10.0
/src/BuildingBlocks/Core/obj
/src/BuildingBlocks/Messaging.MassTransit/bin/Debug/net10.0
/src/BuildingBlocks/Messaging.MassTransit/obj/Debug/net10.0
/src/BuildingBlocks/Messaging.MassTransit/obj
/src/BuildingBlocks/OpenApi/obj/Debug/net10.0
/src/BuildingBlocks/OpenApi/obj
/src/BuildingBlocks/Persistence.EfCore/bin/Debug/net10.0
/src/BuildingBlocks/OpenApi/bin/Debug/net10.0
/src/BuildingBlocks/Persistence.EfCore/obj/Debug/net10.0
/src/BuildingBlocks/Persistence.EfCore/obj
/src/BuildingBlocks
/Weather/Weather.API/bin/Debug/net10.0
/Weather/Weather.API/obj
/Weather/Weather.Application/bin/Debug/net10.0
/Weather/Weather.Application/obj
/Weather/Weather.Domain/bin/Debug/net10.0
/Weather/Weather.Domain/obj/Debug/net10.0
/Weather/Weather.Domain/obj
/Weather/Weather.Infrastructure/bin/Debug/net10.0
/Weather/Weather.Infrastructure/obj
